
.profileBadge
{
	position: absolute;
	border:2px solid #8d8d8d;
	border-radius:200px;
	height:40px;
	width:40px;
	left:0px;
	top:0px;
	float:left;

	background-image:url(/img/profile_default.png);
	background-position: center center;
	background-size: cover;
}
.profileItem
{
	text-indent: 40px;
	position: relative;
	white-space: nowrap;
}
.profileIcon:focus
{
	color:inherit;
}
.navbar-toggler-icon
{
	width:30px;
	height:30px;
	background-color:red;
}

#topbar
{
	height:56px;
}
#topbar nav {
	background-color:rgb(77,83,163);
	flex-wrap: nowrap !important;
}
#topbar a.active
{
	color:white;
}
#topbar a:hover:not(.active)
{
	color:rgb(150,150,150);
}